body { margin: 0; }
canvas { width: 100%; height: 100%; cursor:none }
.instructions {
  color:#999;
  font-family: Arial;
  font-size:14px;
  top: -5px;
  left:-30px;
}
.status {
  color:#ff0;
  font-family: Arial;
  font-size:12px;
  top: 10px;
  right:10px;
  text-align:right;
}
.hints {
  text-decoration:none;
}

.hints li {
  display:flex;
  padding:2px;
}

.hints .key {
  color: white;
  font-weight:bold;
  float: left;
  margin: 0 5px 0 0;
  background-color: #44a79a;
  border-radius: 2px;
  padding: 4px;
  width:120px;
  text-align:right;
}

.hints .hintText {
  margin-top:4px;
}
